canvas {
  border: 5px solid rgb(120,120,120);
  border-style: inset;
  box-sizing: border-box;
}

.spec {
  background: rgb(91,91,91) !important;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-top: 5px outset #1a1a1a;
}

.spec_list {
  color: rgb(120,120,120);
  padding: .4rem 1rem;
  margin: 0;
}

@media screen and (max-width: 500px) {

}
