.parameter {
  margin: 0 5px;
  padding: .4rem .4rem .2rem 0.4rem;
  text-align: center;
}

.parameter div {
  margin-left: auto !important;
  margin-right: auto !important;
}

.parameter p {
  margin: 12px auto !important;
}
